#portfolio{
    background: rgb(247, 243, 243);
}

.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    padding: 2rem;
}

.portfolio__items{
    background:var(--color-bg-variant);
    padding:1.3rem;
    border-radius: 1.5rem 1.5rem;
    border: 1px soid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background:transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem ;
    overflow: hidden;
   
}

.portfolio__item h3{
    margin: 1.3rem 0 2rem;
}

.portfolio___item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom:1rem;
}
/* media querries tablets */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/* media querries on phones */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
}